<ion-view view-title="我的爱好">
  <ion-content class="padding">
    <p>喜爱的运动 :</p>
    <ul class="list">

      <li class="item item-toggle">
       篮球
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        足球
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        游泳
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        跑步
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        电竞
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        其他
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
    <label class="item item-input">
      <span class="input-label">最喜爱的书籍 :</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">最喜爱的音乐 :</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">最喜爱的电影 :</span>
      <input type="text">
    </label>
    <!--留言-->
    <div class="list card">
      <div class="item item-avatar">
        <img src="./img/ionic.png">
        <h2>留言</h2>
        <p>一句话介绍你自己</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="./img/2017.jpg">
        <textarea>
          有志者,事竟成.
        </textarea>
      </div>
    </div>
    <button class="button button-block button-positive">
      储存
    </button>
  </ion-content>>
</ion-view>
