
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 选项卡 -->
  <!--个人信息,默认-->
  <ion-tab title="Personal Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  <!--兴趣爱好-->
  <ion-tab title="Likes" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/like">
    <ion-nav-view name="tab-like"></ion-nav-view>
  </ion-tab>

  <!-- 拍照 -->
  <ion-tab title="Pictures Wall" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/picture">
    <ion-nav-view name="tab-picture"></ion-nav-view>
  </ion-tab>

  <!-- 百度地图 -->
  <ion-tab title="Baidu Map" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


</ion-tabs>
