
html,body{
    font-size: 100px;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

#main{
    position: relative;
    height:100%;
    width:100%;
}
#can1,#can2{
    /*border:solid 0.01rem #285395;*/
    position:absolute;
    left: 0;
    top: 0;
    /*height:100%;*/
    /*width:100%;*/
    z-index: 0;
}
#can2{
    z-index:1;
}
#joyDiv{
    padding:0;
    margin:0;
    width:1rem;
    height:1rem;
    position:absolute;
    left:.2rem;
    bottom:.2rem;
    z-index:9;
    overflow: hidden;
    /*border:solid .01rem #666;*/
}

#joystick{
    display: block;
}

